@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

.map-altura {
  height: calc(100vh - 4rem); /* h-16 = 4rem */
}

.cuenca-analizar {
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  background: linear-gradient(270deg,
    #1fb6ff,
    #28c6b9,
    #9b59b6,
    #f67280,
    #1fb6ff
  );
  background-size: 400% 100%;

  /* Compatibilidad completa */
  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;
  -webkit-text-fill-color: transparent;

  animation: degradadoFluyendo 3s linear infinite;
  text-decoration: underline;
}

.cuenca-analizar:hover {
  filter: drop-shadow(0 0 6px rgba(31, 182, 255, 0.6));
  transform: scale(1.05);
  text-decoration-thickness: 2px;
}

@keyframes degradadoFluyendo {
  0%   { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}
