---
import "../styles/global.css";
import Map from "../components/map.jsx";
const apiUrl = import.meta.env.API_URL;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Mapa de Coordenadas</title>
  </head>
  <body class="bg-white">
    <nav class="flex items-center justify-center bg-cyan-800 h-16 text-white">
      <h1 class="text-2xl font-bold text-center">Aguas Transparentes</h1>
    </nav>
    <div class="w-full">
      <Map client:only="react" apiUrl={apiUrl} />
    </div>
  </body>
</html>
