---
import "../styles/global.css";
import Mapa from "../components/Mapa.jsx";
import WaterNavbar from "../components/navigation/WaterNavbar.astro";
const apiUrl = import.meta.env.API_URL;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Mapa de Coordenadas</title>
  </head>
  <body class="bg-white">
    <WaterNavbar />
    <div class="w-full">
      <Mapa client:only="react" apiUrl={apiUrl} />
    </div>
  </body>
</html>
